<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LDAPAddress" value="LDAP://DC=fareast,DC=corp,DC=microsoft,DC=com" />
    <add key="LDAPUserID" value="fare\ar" />
    <add key="LDAPPassword" value="xxxxxxxxxxxxxx" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>